<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" id="print-section">
                <div class="card-header">
                    <h4 class="card-title"> Ventas del mes por vendedor </h4>
                    <button [disabled]="rows.length===0" class="btn btn-secondary text-right" printSectionId="print-section" ngxPrint><i class='bx bx-printer'></i> Exportar</button>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Código Vendedor
                                </th>
                                <th>
                                    Nombre Vendedor
                                </th>
                                <th>
                                    Facturas emitidas
                                </th>
                                <th>
                                    Total ventas
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rows">
                                    <td>{{item.vendedorId}}</td>
                                    <td>{{item.nombreVendedor}}</td>
                                    <td>{{item.facturasEmitidas}}</td>
                                    <td>{{item.ventas|currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>