<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Facturación</h5>
                </div>
                <div class="card-body">
                    <form #f="ngForm">
                        <div class="row">
                            <div class="col-md-6 pr-1">
                                <!-- <input type="text" class="form-control" name="id" hidden> -->
                                <div class="form-group">
                                    <label>Código</label>
                                    <input type="text" class="form-control" [(ngModel)]="model.id" name="id" placeholder="Código">
                                </div>
                            </div>
                            <div class="col-md-6 pl-1">
                                <div class="form-group">
                                    <label>Fecha</label>
                                    <input type="date" class="form-control" [(ngModel)]="model.fecha" name="fecha">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pl-3">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <select class="form-control" [(ngModel)]="model.clienteId" name="clienteId" required>
                                       <option value="">Seleccione un cliente</option>
                                       <option *ngFor="let item of clientes" [value]="item.id">{{item.nombreComercial}}</option>
                                   </select>
                                </div>
                            </div>
                            <div class="col-md-6 pl-3">
                                <div class="form-group">
                                    <label>Vendedor</label>
                                    <select class="form-control" [(ngModel)]="model.vendedorId" name="vendedorId" required>
                                       <option value="">Seleccione un vendedor</option>
                                       <option *ngFor="let item of vendedores" [value]="item.id">{{item.nombre}}</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pl-3">
                                <button type="button" (click)="onSubmit(f)" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <mat-table [dataSource]="dataSource" class="w-100">
                                        <ng-container matColumnDef="articuloId">
                                            <mat-header-cell *matHeaderCellDef> Código Articulo </mat-header-cell>
                                            <mat-cell *matCellDef="let element;let i = index;">
                                                <input matInput type="text" class="form-control" name="articuloId" (keyup.enter)="findArticle(i, element.articuloId)" [(ngModel)]="element.articuloId" />
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="precioUnitario">
                                            <mat-header-cell *matHeaderCellDef> Precio unitario </mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element.precioUnitario}} </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="cantidad">
                                            <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                                            <mat-cell *matCellDef="let element; let i = index;">
                                                <input matInput type="number" class="form-control" name="cantidad" [(ngModel)]="element.cantidad" />
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                                            <mat-cell *matCellDef="let element; let i = index;">
                                                <button (click)="agregar()" class="btn btn-warning">Agregar</button>
                                                <button (click)="borrar(i)" class="btn btn-primary">Borrar</button>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns">
                                        </mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>

                                </div>
                                <div class="row pt-5">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Comentario</label>
                                            <textarea [(ngModel)]="model.comentario" name="comentario" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>